<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Batsmen</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Current Batsmen</h2>
        <table class="table table-sm">
            <thead>
                <tr>
                  <th scope="col">Bowling</th>
                  <th scope="col">&nbsp;</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                 
                  <td>{cricket.result.stats.bowler.name}</td>
                  <td>{cricket.result.stats.bowler.bowlerRuns}/{cricket.result.stats.bowler.wickets}({cricket.result.stats.bowler.overs})</td>
                  
                </tr>
               
                
              </tbody>
          </table>
    </div>
</body>
</html>